/* Estilos de la página Vacunas */
.contenedor-vacunas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-vacunas {
  font-size: 48px;
  color: #0f172a;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

.subtitulo-vacunas {
  font-size: 16px;
  color: #64748b;
  max-width: 600px;
}